:root {
  --color-out-of-stock: hsla(0, 0%, 50%, 0.7);
}

textarea {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}

/* Basic layout styles of all pages */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.min-h-95 {
  min-height: calc(100vh - 5rem);
}

/* Style icon for CTA on homepage */
.rotate-icon {
  transform: rotate(20deg);
}

/* Grid styles */
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-auto-flow: row;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.grid-20-80 {
  grid-template-columns: 20% 1fr;
}

.grid-30-70 {
  grid-template-columns: 30% 1fr;
}

.grid-40-60 {
  grid-template-columns: 40% 1fr;
}

.span-auto {
  grid-column: 1 / -1;
}

.span-2 {
  grid-column: span 2;
}

/* Flexbox styles */
.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-basis-20 {
  flex-basis: 20%;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

/* Positioning styles */
.pos-rel {
  position: relative;
}

/* Margin styles */
.mt-1 {
  margin-top: var(--size-9);
}

.mt-2 {
  margin-top: var(--size-13);
}

.mt-3 {
  margin-top: var(--size-17);
}

.mt-5 {
  margin-top: var(--size-22);
}

.mx-2 {
  margin: 0 var(--size-13);
}

.mr-sm {
  margin-right: var(--size-5);
}

.mr-1 {
  margin-right: var(--size-9);
}

.mr-2 {
  margin-right: var(--size-13);
}

.mr-3 {
  margin-right: var(--size-15);
}

.mb-1 {
  margin-bottom: var(--size-9);
}

.mb-sm {
  margin-bottom: var(--size-5);
}

.my-md {
  margin: var(--size-7) 0;
}

/* Padding styles */
.py-3 {
  padding: var(--size-17) 0;
}
.pl-2 {
  padding-left: var(--size-13);
}

.pr-4 {
  padding-right: var(--size-21);
}

.p-1 {
  padding: var(--size-9);
}

/* Overflow styles */
.ovy-scroll {
  overflow-y: scroll;
}

/* Button styles */
.btn-md {
  padding: var(--size-5) var(--size-9);
}

.btn:hover {
  transform: none;
}

.btn-cta {
  background-color: var(--badge-yellow);
  color: var(--color-black);
}

.btn-cta:hover {
  background-color: rgba(245, 158, 11, 0.7);
}

.btn-login {
  background-color: var(--badge-yellow);
  padding: var(--size-5) var(--size-9);
}

.btn-wish {
  outline: 2px solid var(--primary-dark-color);
  color: var(--primary-dark-color);
  background-color: var(--color-white);
}

.btn-wish:hover {
  background-color: var(--primary-extra-light-color);
}

/* Border styles */
.form-border {
  border: 2px solid var(--primary-dark-color);
  border-radius: var(--radius-extra-large);
}

/* Badge on icon styles */
.badge-count {
  min-width: var(--size-11);
  height: var(--size-11);
}

/* Width styles */
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.max-width-1000 {
  max-width: 1000px;
}

/* General styles */
.txt-capitalize {
  text-transform: capitalize;
}

.txt-wrap {
  white-space: normal;
}

.strike-color {
  color: var(--btn-error-color);
}

.blur {
  filter: opacity(40%);
  height: auto;
}

/* Align product page to right  */
.align-content-right {
  margin-left: 18rem;
  width: calc(100% - 18rem);
}

/* Filter styles */
.filter-pos-size {
  position: fixed;
  width: 18rem;
  height: 100vh;
}

.rating {
  background-color: var(--primary-extra-light-color);
  padding: var(--size-3) var(--size-5);
  border-radius: var(--radius-large);
}

.checkbox,
.radiobutton {
  width: fit-content;
  transform: scale(1.2);
}

/* Card icon button styles */
.remove-card-btn,
.wish-heart-btn {
  transform: translate(-50%, 50%);
  cursor: pointer;
  z-index: 2;
}

/* Page title for Cart and Wishlist*/
.page-title {
  display: flex;
  justify-content: center;
}

.page-content {
  padding-top: var(--size-9);
  padding-bottom: var(--size-9);
}

/* Cursor pointer */
.pointer {
  cursor: pointer;
}

/* Input visibility toggle */
.input-toggle .toggle-vis {
  right: 0;
  top: 50%;
  transform: translate(-25%, -95%);
  color: var(--primary-dark-color);
  padding: var(--size-5);
  border-radius: 50%;
}

.input-toggle .toggle-vis:hover {
  background-color: var(--primary-extra-light-color);
}

/* Alternate auth text Login/Signup */
.alt-auth-txt {
  color: var(--primary-dark-color);
}

.btn-fab {
  position: fixed;
  z-index: 40;
}

.bottom-right-10 {
  right: 5%;
  bottom: 5%;
}

.empty__page {
  width: 20rem;
  height: 20rem;
}

.btn {
  white-space: normal;
}

.pos-fixed {
  position: fixed;
}

.filters {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 4rem;
  background-color: var(--color-white);
  z-index: 2;
}

.mob-show-filters {
  top: 5rem;
}

.filter-section {
  padding: 0 var(--size-9);

  background-color: var(--color-white);
  height: calc(100vh - 8.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.mb-2 {
  margin-bottom: var(--size-13);
}

.ov-hidden {
  overflow: hidden;
}

.ov-auto {
  overflow: auto;
}

.mobile-filter-bottom {
  margin-bottom: 0;
}

.input-error {
  color: hsl(0, 74%, 54%);
  height: var(--size-11);
}

.txt-upper {
  text-transform: uppercase;
}

.large-radio {
  width: var(--size-11);
  height: var(--size-11);
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

.large-radio:checked {
  accent-color: var(--primary-color);
}

.address__main {
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #80808075;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.address__form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 22rem;
  max-height: 40rem;
  overflow-y: scroll;
  padding: var(--size-9);
  background-color: var(--color-white);
}

.input-textarea {
  display: block;
}

.dropdown {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--size-10);
}

.checkout__addresses{
  max-height: 22rem;
  overflow-y: scroll;
}
/* Media queries to handle filter responnsiveness on large screens */

@media screen and (min-width: 1025px) {
  .filter-section {
    padding: 0 var(--size-19);
  }

  .address__form {
    max-width: 30rem;
  }
}

@media screen and (min-width: 769px) {
  footer .grid-cols-2 {
    grid-template-columns: 0;
  }

  .desktop-filter {
    display: flex;
    margin-top: 2rem;
  }

  .mobile-filter {
    display: none;
  }

  .filters {
    position: relative;
    height: 100%;
    top: 0;
    border-right: 2px solid var(--primary-dark-color);
  }

  .filter-section {
    overflow: hidden;
    height: calc(100% - 5rem);
  }
}

/* Media queries to handle filter responnsiveness upto large screens */
@media screen and (max-width: 768px) {
  .align-content-right {
    margin-left: 0;
    width: 100%;
  }

  .desktop-filter {
    display: none;
  }

  .mobile-filter {
    display: flex;
  }

  .filter-section {
    padding: 0 var(--size-25);
  }

  .mobile-filter-bottom {
    margin-bottom: 4rem;
  }
}

/* Media queries to handle upto large screens */
@media screen and (max-width: 650px) {
  .grid-cols-auto {
    grid-template-columns: 0;
  }
  .grid-col-1 {
    grid-template-columns: minmax(min-content, auto);
  }
}

@media screen and (max-width: 480px) {
  .btn-product {
    width: 90%;
  }

  .mob-show-filters {
    top: 7rem;
  }

  .header {
    height: 7rem;
  }
}
