
/* Hero section */
.hero__section {
  position: relative;
  height: 90vh;
}

.hero {
  width: 100%;
  height: 100%;
}

.hero img {
  object-fit: cover;
}

.hero__overlay {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding-right: var(--size-11);
  padding-left: var(--size-9);
  background-color: var(--primary-extra-light-color);
  color: var(--color-white);
}

/* Highlight words */
.imp__word {
  color: var(--primary-dark-color);
}

/* Category & Collection cards */
.category {
  width: 12rem;
  height: 12rem;
  background-color: var(--primary-extra-light-color);
  position: relative;
  overflow: hidden;
}

.cover__text {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
}

.collection__cover__text {
  display: block;
  top: 50%;
  left: 0%;
  width: 50%;
  height: fit-content;
  transform: translate(0, -50%);
  color: var(--color-white);
}

.category:hover {
  background-color: var(--color-white);
}

.category:hover .cover__text,
.category:hover .collection__cover__text {
  color: var(--primary-dark-color);
}

.category:hover .blur {
  filter: opacity(90%);
}

/* Footer styling */
.footer {
  background-color: var(--secondary-color);
  color: var(--secondary-light-color);
  font-size: var(--size-10);
}

.footer-info {
  width: 100%;
}

/* Media query for medium mobiles and up */
@media screen and (max-width: 480px) {
  .footer {
    font-size: inherit;
  }
}
